/*
   === === === === === ==>
   fixme |> Object05 Elements
   <== === === === === ===
*/
/* ? Import Pallete Colors */
@import "./../settings/settings_1.css";
/*
   === === === === === ==>
   ! |> Tag Navigation
   <== === === === === ===
*/
#navigation > ul > li {
   display: inline-block;
}
#navigation > ul > li > a {
   text-decoration: none;
   color: var(--color-orchids);
   line-height: 40px;
   font-weight: bold;
   font-size: 0.93rem;
   padding: 0 5px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
#navigation > ul > li > a:hover {
   color: var(--color-purple);
   border-bottom: 1px dotted var(--color-purple);
   border-top: 1px dotted var(--color-purple);
   padding: 10px 15px;
}
.button {
   width: 150px;
   height: 40px;
   border-radius: 23px;
   box-shadow: 3px 3px 3px 0 var(--color-gray-lighting);
   -webkit-box-shadow: 3px 3px 3px 0 var(--color-gray-lighting);
   background-color: var(--color-orange);
   color: var(--color-white);
   border: none;
   font-size: 0.75rem;
   font-weight: bold;
   cursor: pointer;
   margin-left: 5px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
.button:hover {
   background-color: var(--color-purple);
}
.button > img {
   height: 20px;
   vertical-align: middle;
}
/*
   === === === === === ==>
   ! |> Tag Article
   <== === === === === ===
*/
#article > span {
   width: 444px;
   height: 343px;
   opacity: 0.35;
   font-size: 18rem;
   font-weight: bold;
   letter-spacing: 80px;
   text-align: center;
   color: var(--color-gray-2);
   position: absolute;
   z-index: -1;
   margin-top: 90px;
}
#article > h1 {
   width: 504px;
   height: 183px;
   font-size: 3.37rem;
   font-weight: bold;
   text-align: center;
   color: var(--color-blue);
   margin-top: 130px;
   display: flex;
   align-items: end;
}
#article > h2 {
   width: 512.4px;
   height: 90.7px;
   font-size: 1.12rem;
   letter-spacing: 0.5px;
   text-align: center;
   color: var(--color-gray-1);
   margin-top: 35px;
}
.send__message {
   width: 504px;
   height: 51px;
   border-radius: 26px;
   box-shadow: 3px 3px 3px 0 var(--color-gray-lighting);
   -web-kit-box-shadow: 3px 3px 3px 0 var(--color-gray-lighting);
   background-color: var(--color-white);
}
.send__message > i > img {
   padding-left: 15px;
   position: relative;
   top: 2px;
}
.send__message input {
   padding: 18px 10px;
   border: none;
   outline: none;
   width: 353px;
}
.send__message button {
   width: 80px;
   height: 45px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   background-color: var(--color-blue);
   border: none;
   cursor: pointer;
   color: var(--color-white);
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   text-transform: uppercase;
}
.send__message button:hover {
   background-color: var(--color-orange);
}
/*
   === === === === === ==>
   ? |> Modal
   <== === === === === ===
*/
.modal__dialog {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: var(--color-black-lighting);
   z-index: 99999;
   opacity: 0;
   transition: opacity 400ms ease-in;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   pointer-events: none;
}
.modal__dialog:target {
   opacity: 1;
   pointer-events: auto;
}
.modal__content {
   background-color: var(--color-white);
   width: 500px;
   height: 300px;
   position: relative;
   margin: 10% auto;
   display: flex;
   flex-direction: row;
   align-items: stretch;
   text-align: center;
}
.phone__message {
   position: absolute;
   top: 0;
   left: 10px;
   height: 300px;
   z-index: -1;
   opacity: 0.5;
}
.side__left {
   width: 45%;
   background-color: var(--color-blue);
   padding-top: 130px;
   opacity: 0.5;
}
.side__left > h1 {
   font-size: 1.25rem;
   font-weight: bold;
   color: var(--color-white);
}
.side__right {
   width: 55%;
   padding-top: 130px;
}
.side__right > p {
   font-weight: bold;
}
.close__modal {
   background-color: var(--color-orchids);
   color: var(--color-white);
   line-height: 25px;
   position: absolute;
   right: -12px;
   top: -10px;
   text-align: center;
   width: 24px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   box-shadow: 1px 1px 3px var(--color-black);
   -webkit-box-shadow: 1px 1px 3px var(--color-black);
   -moz-box-shadow: 1px 1px 3px var(--color-black);
}
.close__modal:after {
   content: "\d7";
}
.close__modal:hover {
   background-color: var(--color-orange);
}
