/*
   === === === === === ==>
   fixme |> Object05 Elements
   <== === === === === ===
*/
/*
   === === === === === ==>
   ! |> Tag Navigation
   <== === === === === ===
*/
#navigation > ul > li {
   display: inline-block;
}
#navigation > ul > li > a {
   text-decoration: none;
   color: #6066f2;
   line-height: 40px;
   font-weight: bold;
   font-size: 0.93rem;
   padding: 0 5px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
#navigation > ul > li > a:hover {
   color: #8a378d;
   border-bottom: 1px dotted #8a378d;
   border-top: 1px dotted #8a378d;
   padding: 10px 15px;
}

.button {
   width: 150px;
   height: 40px;
   border-radius: 23px;
   box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
   -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
   background-color: #f4891f;
   color: #fff;
   border: none;
   font-size: 0.75rem;
   cursor: pointer;
   margin-left: 5px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
.button:hover {
   background-color: #8a378d;
}
.button > img {
   height: 20px;
   vertical-align: middle;
   font-weight: bold;
}
/*
   === === === === === ==>
   ! |> Tag Article
   <== === === === === ===
*/
#article > span {
   width: 444px;
   height: 343px;
   opacity: 0.35;
   font-size: 18rem;
   font-weight: bold;
   letter-spacing: 80px;
   text-align: center;
   color: #dbdbdb;
   position: absolute;
   z-index: -1;
   margin-top: 90px;
}
#article > h1 {
   width: 504px;
   height: 183px;
   font-size: 3.37rem;
   font-weight: bold;
   text-align: center;
   color: #488cf5;
   margin-top: 130px;
   display: flex;
   align-items: end;
}
#article > h2 {
   width: 512.4px;
   height: 90.7px;
   font-size: 1.12rem;
   letter-spacing: 0.5px;
   text-align: center;
   color: #adadad;
   margin-top: 35px;
}
.send__message {
   width: 504px;
   height: 51px;
   border-radius: 26px;
   box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
   -web-kit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
   background-color: #fff;
}
.send__message > i > img {
   padding-left: 15px;
   position: relative;
   top: 2px;
}
.send__message input {
   padding: 18px 10px;
   border: none;
   outline: none;
   width: 353px;
}
.send__message button {
   width: 80px;
   height: 45px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   background-color: #488cf5;
   border: none;
   cursor: pointer;
   color: #fff;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}
.send__message button:hover {
   background-color: #f4891f;
}
