/* ? Import Pallete Colors */
@import "./../settings/settings_1.css";
/*
   === === === === === ==>
   ! |> Media Queries
   <== === === === === ===
*/
@media only screen and (max-width: 550px) {
   body {
      overflow-x: hidden;
      box-sizing: border-box;
   }
   #brand {
      margin-left: 15px;
   }
   #btn__bag,
   #btn__login {
      display: none;
   }
   #picture_phone > img {
      position: absolute;
      left: 0;
      top: 0;
      margin-left: 15px;
      z-index: -1;
      opacity: 0.5;
   }
   /*
      === === === === === ==>
      ! |> Navigation
      <== === === === === ===
   */
   #navigation {
      position: absolute;
      top: 80px;
      width: 100%;
      height: calc(100vh - 80px);
      background-color: var(--color-orchids);
      left: -100%;
      z-index: 10;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
   }
   #navigation > ul {
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   #navigation > ul > li {
      padding: 30px 0;
   }
   #navigation > ul > li > a {
      color: var(--color-white) !important;
      border: none !important;
      font-size: 1.56rem !important;
   }
   #navigation > ul > li > a:hover {
      color: var(--color-orange) !important;
   }
   .menu__toggle {
      opacity: 1 !important;
   }
   #navigation.active {
      left: 0;
      transition: all 0.3s ease;
   }
   .item__menu_responsive {
      visibility: visible !important;
   }
   /*
      === === === === === ==>
      ! |> Article
      <== === === === === ===
   */
   #article {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   #article > .article__background_mobile {
      display: flex;
      align-items: center;
      margin: 45px;
      color: var(--color-gray-1);
   }
   #article > .article__title_mobile {
      margin: 125px 15px;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #article > .article__subtitle_mobile {
      margin: 25px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -115px;
      color: var(--color-gray-darken);
   }
   #article div.send__message {
      width: 415px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
   }
   .send__message > i > img {
      padding-left: 15px;
      position: relative;
      top: 2px;
   }
   #article div.send__message > input {
      width: 280px;
   }
   #article div.send__message button {
      width: 65px;
   }
   /*
      === === === === === ==>
      ! |> Background Shapes
      <== === === === === ===
   */
   #shapes > img.shape2__shapes {
      display: flex;
      justify-content: end;
      position: absolute;
      top: 455px;
   }
   /*
      === === === === === ==>
      ! |> Footer
      <== === === === === ===
   */
   #footer {
      text-align: center;
      padding-top: 100px;
   }
   #footer > small.text__footer {
      color: var(--color-gray-darken);
   }
}
