/*
   === === === === === ==>
   fixme |> Trumps07
   <== === === === === ===
*/
/* ? Import Pallete Colors */
@import "./../settings/settings_1.css";
/*
   === === === === === ==>
   ! |> Buttons
   <== === === === === ===
*/
#btn__bag {
   background-color: var(--color-blue);
}
#btn__bag:hover {
   background-color: var(--color-purple);
}
.menu__toggle {
   height: 40px;
   width: 40px;
   position: absolute;
   right: 15px;
   cursor: pointer;
   opacity: 0;
}
.menu__toggle > img {
   height: 40px;
   width: 40px;
   transform: all 0.3s ease;
   -webkit-transform: all 0.3s ease;
}
.menu__toggle > img:hover {
   transform: scale(1.2);
}
.item__menu_responsive {
   visibility: hidden;
}
